<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Rizwana Parveen Karamathullah Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="./static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="./static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="./static/css/bootstrap.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="./static/css/style.css">

	<!-- Modernizr JS -->
	<script src="./static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="./static/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">	
	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image:url(./static/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<div class="profile-thumb" style="background: url(./static/images/user-3.png);"></div>
							<h1><span>Rizwana Parveen Karamathullah</span></h1>
							<h3><span>Data Scientist / Data Analyst/ Business Analyst</span></h3>
							<p>
								<ul class="fh5co-social-icons">
									<li><a href="https://www.linkedin.com/in/rizwana-parveen-k/"><i class="icon-linkedin2"></i></a></li>
									<li><a href="https://github.com/Rizzypar"><i class="icon-github2"></i></a></li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-md-offset-2 text-center fh5co-heading">
					<h2>About Me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<ul class="info">
						<li><span class="first-block">Full Name:</span><span class="second-block">Rizwana Parveen Karamathullah</span></li>
						<li><span class="first-block">Email:</span><span class="second-block">rizwanaparveen1996@gmail.com</span></li>
						<li><span class="first-block">GitHub:</span><span class="second-block">https:/github.com/Rizzypar</span></li>
						<li><span class="first-block">Address:</span><span class="second-block">Windsor, Ontario</span></li>
					</ul>
				</div>

				<div class="col-md-8">
					<h2>Hello There!</h2>
					<p>I am an aspiring Data Scientist, with three years experience as a Senior Machine Learning Data Associate in Amazon, Alexa services. </p>
					<p>I am a Graduate from the University of Windsor where I did my Masters in Electrical and Computer Engineering. I am a quick learner and I work well with Microsoft Excel, Python, SQL and PowerBI. I love how every Data tries to tell a story and I get to be the one to sell it to the world. </p>
					<p>Apart from my love for data, I enjoy painting, writing poetry, making stuffed toys and going for long walks. </p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://github.com/Rizzypar"><i class="icon-github2"></i></a></li>
							<li><a href="https://www.linkedin.com/in/rizwana-parveen-k/"><i class="icon-linkedin2"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-resume" class="fh5co-bg-color">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>My Resume</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline">
						<li class="timeline-heading text-center animate-box">
							<div><h3>Work Experience</h3></div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Data Analyst Intern</h3>
									<span class="company">Virtual Internship - Accenture - Jan 2023 - Feb 2023</span>
								</div>
								<div class="timeline-body">
									<p>The Projects I did under Accenture, reminded me of the time I spent at Amazon, and How grateful I am for establishing a base and having a firm foundation for my career prospects.
My responsibility was to do a Deep Dive Analysis of a dataset containing 772 line items and refined it to provide a grass root level understanding for a fictional client of Accenture called SocialBuzz.
This Internship required data cleaning, data modelling, data visualization and storytelling using Microsoft Excel and Powerpoint. Finally the results was publicly represented in a virtual format for clearer communication
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Senior Machine Learning Data Associate</h3>
									<span class="company">Amazon, Alexa services - January 2021 - July 2021</span>
								</div>
								<div class="timeline-body">
									<p>Analyzed and created platforms for ML science modelling teams with the critical data needed to improve Alexa’s NLU models. I have Trained more than 40 members newly on-boarded to the team.</p>
									<p>Performed Data Cleaning, Data modelling, Data visualization (using PowerBI) and Data analysis performed on high volume data.</p>
									<p>I have also created SOPs and tested several Headed or Headless Devices in Alexa for proper clarity. Using SQL extracted data and single handedly owned processes for high quality accuracy.</p>
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-suitcase"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Machine Learning Data Associate</h3>
									<span class="company">Amazon, Alexa services - September 2018 - December 2020</span>
								</div>
								<div class="timeline-body">
									<p>To execute high-quality process annotations & data analysis tasks with efficiency to improve CX quality metrics and positive business impact. </p>
									<p>Developed a creative comical strip for associates to increase the knowledge of processes in hand and also made it easy to understand that lead to a drastic increase in the quality of associates and was appreciated by the Vice President of Alexa services, Amazon, Chuck Moore.</p>
									<p>In Q2'2019, the annotation quality of the team shrunk to 70% against the expected SLA of 95%. I analyzed and created a grey area document to improve the quality metrics which led the team to bring its quality back to 96% within 2 weeks.</p>
								</div>
							</div>
						</li>

						<br>
						<li class="timeline-heading text-center animate-box">
							<div><h3>Education</h3></div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Masters Degree - Electrical and computer Engineering</h3>
									<span class="company">University of Windsor - 2021 - 2022</span>
								</div>
								<div class="timeline-body">
									<p>I have had the privilege of learning and growing as a competent data scientist in the University of Windsor by choosing Computer electives. I have had hands-on experience with MATLAB by orchestrating a project and working model of an adaptive cruise control.</p>
									<p> I have also been a part of University Of Windsor CKI(service leadership program of Kiwanis International) as an Internal Communication Executive.
								</div>
							</div>
						</li>
						<li class="animate-box timeline-unverted">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Bachelors Degree - Electronics and Communication Engineering</h3>
									<span class="company">Anna University - 2014 - 2018</span>
								</div>
								<div class="timeline-body">
									<p>Had Hands-on experience with several electronic devices through courses like Medical Electronics, Satellite communication, VLSI Design and management course like Principles of Management. Also Participated in E-Cell organized by the university and earned a 60% profit. Won in several InterCollegiate competitions for Technical Quizzes and Project Modelling. </p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title">Graduation</h3>
									<span class="company">SBOA Model HS School  - 2010 - 2014</span>
								</div>
								<div class="timeline-body">
									<p>Won cash prizes for scoring in Top three in the whole school for Science and Language subjects for two consecutive years. </p>
								</div>
							</div>
						</li>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
	</div>
	

	<div id="fh5co-skills" class="animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Skills</h2>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>MS Excel</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="80"><span><strong>T-SQL</strong>80%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="75"><span><strong>Python</strong>75%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="70"><span><strong>MATLAB</strong>70%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>MySQL</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="70"><span><strong>C</strong>70%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="72"><span><strong>C++</strong>72%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>MS Word</strong>95%</span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">PowerBI</span><span class="value-right">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Tableau</span><span class="value-right">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Python Frameworks: Numpy, Pandas, Scikit-learn, TensorFlow, BeautifulSoup</span><span class="value-right">80%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Python Frameworks Visualization: Matplotlib, Seaborn, Bokeh</span><span class="value-right">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Interpersonal Skills</span><span class="value-right">100%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Attention To Detail</span><span class="value-right">99%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Excel Dashboard</span><span class="value-right">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Storytelling Skills</span><span class="value-right">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						  </div>
						</div>
					<div class="progress-wrap">
						<h3><span class="name-left">SSMS</span><span class="value-right">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-work" class="fh5co-bg-dark">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Projects:</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Rizzypar/fulhaus_image_classification" class="work" style="background-image: url(./static/images/portfolio-1.jpg);">
						<div class="desc">
							<h3>Furniture Image Classification Model</h3>
							<span>JupyterNotebooks, Python, Pycharm, Docker, Convolution Neural Networks(CNN)</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Rizzypar/Soccer_2023_data_cleaning" class="work" style="background-image: url(./static/images/portfolio-2.jpg);">
						<div class="desc">
							<h3>FIFA Soccer 2023 Data cleaning & Visualization</h3>
							<span>Tools Used: Python, Jupyter Notebooks</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Rizzypar/ExcelDashboard_ProductionTracker" class="work" style="background-image: url(./static/images/portfolio-3.jpg);">
						<div class="desc">
							<h3>Productivity Calculator and Excel Dashboard</h3>
							<span>Microsoft Excel</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Rizzypar/SalesReport_SQL_PowerBI" class="work" style="background-image: url(./static/images/portfolio-4.jpg);">
						<div class="desc">
							<h3>Sales Report and Dashboard</h3>
							<span>Tools Used: T-SQL (SSMS), PowerBI </span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Rizzypar/Webscraping-using-Python" class="work" style="background-image: url(./static/images/portfolio-5.jpg);">
						<div class="desc">
							<h3>TimesJob Webscraping Using Python</h3>
							<span>Tools Used: Python, Pycharm, Excel</span>
						</div>
					</a>
				</div>
				<div class="col-md-3 text-center col-padding animate-box">
					<a href="https://github.com/Rizzypar/Superstore_data_cleaning" class="work" style="background-image: url(./static/images/portfolio-6.jpg);">
						<div class="desc">
							<h3>Superstore Data cleaning using Python</h3>
							<span>Tools Used: Python, JupyterNotebooks</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started" class="fh5co-bg-dark">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hire Me!</h2>
					<p><a href=mailto:"rizwanaparveen1996@gmail.com" class="btn btn-default btn-lg">Contact me</a></p>
				</div>
			</div>
		</div>
	</div>

	
	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<p>&copy; 2017 Free HTML5 Template. All Rights Reserved. <br>Designed by <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com" target="_blank">Unsplash</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="./static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="./static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="./static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="./static/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="./static/js/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="./static/js/jquery.easypiechart.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="./static/js/google_map.js"></script>
	
	<!-- Main -->
	<script src="./static/js/main.js"></script>

	</body>
</html>

